/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #333;
}

/* File Upload Styles */
.upload-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-top: 20px;
}

.btn {
    border: 2px solid #4CAF50;
    color: white;
    background-color: #4CAF50;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.instructions {
    margin-top: 20px;
    text-align: left;
    color: #666;
}

.submit-btn {
    margin-top: 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #45a049;
}

.submit-btn[disabled] {
    background-color: #d4d4d4;
    cursor: not-allowed;
}

.file-name {
    margin-top: 10px;
    color: #333;
}

.flash-message {
    margin-top: 20px;
    color: #d44;
    font-size: 16px;
    opacity: 1;
    transition: opacity 2s ease-out; /* Fading effect */
}

.flash-message.success {
    color: #4CAF50;
}

.flash-message.fade-out {
    opacity: 0;
}

.history-btn {
    margin-top: 20px;
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.history-btn:hover {
    background-color: #0056b3;
}

/* Upload History Styles */
.upload-history-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow: auto; /* Handle large tables */
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.back-btn {
    margin-top: 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.back-btn:hover {
    background-color: #45a049;
}
