<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload History</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4C+s9X8KC4IBcNnScqlgslW4eqHZhe+5dOfxKb/d5Fsm57Dmd8yJ60uRmURZ4pRz55kw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Upload History</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Filename</th>
                    <th>Location</th>
                    <th>Size (bytes)</th>
                    <th>Extension</th>
                    <th>Upload Time</th>
                </tr>
            </thead>
            <tbody>
                {% for upload in uploads %}
                <tr>
                    <td>{{ upload[0] }}</td>
                    <td>{{ upload[1] }}</td>
                    <td>{{ upload[2] }}</td>
                    <td>{{ upload[3] }}</td>
                    <td>{{ upload[4] }}</td>
                    <td>{{ upload[5] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/" class="back-btn">Back to Upload</a>
    </div>
</body>
</html>
